# Environment Variables

# OpenAI API Key
OPENAI_API_KEY=

# OpenAI Model
OPENAI_MODEL=

# Anthropic API Key
ANTHROPIC_API_KEY=

# GROQ API Key
GROQ_API_KEY=

# OpenRouter API Key
OPENROUTER_API_KEY=

# Yazi Environment
YAZI_ENVIRONMENT=

# Yazi Log Level
YAZI_LOG_LEVEL=
